td{
    border: 1px solid aqua;
    color: black;
}
tr{
    border: 1px solid red !important; 
    margin: 5px;
}

table,tr {
    border: 1px solid black;
    margin: 5px;
  }
  .errMsg{
    background-color: brown;
    color: black;
  }
  .c1{
    background-color: blue;
    color: white;
  }
  .c2{
    background-color: green;
    color: white;
  }
  .c3{
    background-color: blueviolet;
    color: white;
  }