table {
  width: 50%;
  border-collapse: separate;
  background-color: aquamarine;
}
table, th, td {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
  
}
th {
  background-color: black;
  color: beige;

}
td {
  background-color:aqua;
  color: black;

}
.filter-container {
  margin-bottom: 10px;
}